<ul>
  <p>{{player.solo_competitive_rank}}</p>
  <p>{{player.competitive_rank}}</p>
  <p>{{player.leaderboard_rank}}</p>
  <p>{{player.profile.account_id}}</p>
  <p>{{player.profile.personaname}}</p>
  <p>{{player.profile.name}}</p>
  <p>{{player.profile.plus}}</p>
  <p>{{player.profile.cheese}}</p>
  <p>{{player.profile.steamid}}</p>
  <img src="{{player.profile.avatar}}">
  <img src="{{player.profile.avatarmedium}}">
  <img src="{{player.profile.avatarfull}}">
  <p>{{player.profile.profileurl}}</p>
  <p>{{player.profile.last_login}}</p>
  <p>{{player.profile.loccountrycode}}</p>
  <p>{{player.profile.is_contributor}}</p>
  <p>{{player.rank_tier}}</p>
  <p>{{player.mmr_estimate.estimate}}</p>
  <button (click)="goBack()">go back</button>
</ul>
