<ul>

  <mat-card >
  <mat-card-header>
      <img mat-card-avatar style="
      height:100px !important;
      width:100px !important;
      font-size:100px !important;" class="material-icons" src="{{player.profile.avatarfull}}">
      <mat-card-title>{{player.profile.personaname}}</mat-card-title>
  </mat-card-header>
  </mat-card>

  <mat-card >
      <mat-card-header>
  <mat-card-title>MMR: {{player.mmr_estimate.estimate}}</mat-card-title>
</mat-card-header>
</mat-card>

  <mat-card >
      <mat-card-header>
  <mat-card-title>Solo competitive rank: {{player.solo_competitive_rank}}</mat-card-title>
  </mat-card-header>
  </mat-card>

  <mat-card >
      <mat-card-header>
  <mat-card-title>Competitive rank: {{player.competitive_rank}}</mat-card-title>
</mat-card-header>
</mat-card>

<mat-card>
    <mat-card-header>
  <mat-card-title>Leaderboard rank: {{player.leaderboard_rank}}</mat-card-title>
</mat-card-header>
</mat-card>

<mat-card >
    <mat-card-header>
  <mat-card-title>Profile name: {{player.profile.name}}</mat-card-title>
</mat-card-header>
</mat-card>

<mat-card >
    <mat-card-header>
  <mat-card-title>Account-id: {{player.profile.account_id}}</mat-card-title>
</mat-card-header>
</mat-card>

  <mat-card>
      <mat-card-header>
  <mat-card-title>Steam-id: {{player.profile.steamid}}</mat-card-title>
</mat-card-header>
</mat-card>

  
  <mat-card >
      <mat-card-header>
  <mat-card-title>Profile-URL: {{player.profile.profileurl}}</mat-card-title>
</mat-card-header>
</mat-card>

  <mat-card >
      <mat-card-header>
  <mat-card-title>Last-login: {{player.profile.last_login}}</mat-card-title>
</mat-card-header>
</mat-card>

  <mat-card >
      <mat-card-header>
  <mat-card-title>Country-code: {{player.profile.loccountrycode}}</mat-card-title>
</mat-card-header>
</mat-card>


  <button mat-flat-button (click)="goBack()">go back</button>

  
</ul>
