
<div style="width:500px; margin:0 auto; alignment: center" *ngIf="hero" class="grid grid-pad">
  <h3>{{hero.localized_name}}</h3>
  <img src="https://api.opendota.com/apps/dota2/images/heroes/{{hero.name.toLowerCase().replace('npc_dota_hero_', '')}}_full.png"/>
  <h5>{{hero.localized_name}} has {{hero.legs}} legs</h5>

  <div> Counters ( winrate % )
    <ul *ngFor="let matchup of hero.matchUps">
      


    <mat-card >
    <mat-card-header>
        <mat-card-title>{{getHeroName(matchup.hero_id)}}</mat-card-title>
        <br/><br/>
        <mat-card-subtitle>Matches played: {{matchup.games_played}}</mat-card-subtitle>
        <br/><br/>

        <mat-card-subtitle>Winrate against: {{(matchup.wins/matchup.games_played).toString().substring(2, 4)}}%</mat-card-subtitle>
        <img mat-card-avatar style="
          height:100px !important;
          width:100px !important;
          font-size:100px !important;" class="material-icons" src="https://api.opendota.com/apps/dota2/images/heroes/{{getHeroName(matchup.hero_id).toLowerCase().replace('npc_dota_hero_', '')}}_full.png">
    </mat-card-header>
    </mat-card>
    </ul>
  </div>
  <button mat-flat-button (click)="goBack()">go back</button>
</div>


