
<div style="width:500px; margin:0 auto; alignment: center" *ngIf="hero" class="grid grid-pad">
  <h3>{{hero.localized_name}}</h3>
  <img src="https://api.opendota.com/apps/dota2/images/heroes/{{hero.name.toLowerCase().replace('npc_dota_hero_', '')}}_full.png"/>
  <h5>{{hero.localized_name}} has {{hero.legs}} legs</h5>

  <div> Counters
    <ul *ngFor="let matchup of hero.matchUps">
      {{(matchup.wins/matchup.games_played).toString().substring(2, 4)}} % against
      {{getHeroName(matchup.hero_id)}}
    </ul>
  </div>
  <button (click)="goBack()">go back</button>
</div>


